.list {
  width: 80%;
  margin: 0.6rem 0;
  display: flex;
  justify-content: space-between;
}
.list:nth-child(2) {
  margin-top: 1rem;
}
.unit {
  font-size: 0.8rem;
  vertical-align: baseline;
}
.input {
  font-size: 1rem;
  min-width: 220px;
}

@media screen and (max-width: 410px) {
  .list {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.01rem;
  }
  .list:nth-child(2) {
    margin-top: 0;
  }
  .label {
    display: flex;
  }
  .input {
    display: flex;
  }
}
