.form {
  height: 82%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.2rem 0;
  background-color: var(--color-bg);
}
.button {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--color-accent);
  color: var(--color-white);
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  margin-top: 1.5rem;
}
.button:hover {
  filter: brightness(125%);
}

.container {
  height: 82%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
  overflow: scroll;
}
.lists {
  height: 82%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  font-size: 0.8rem;
}

.list {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}
.list.maintitle {
  margin-bottom: 0.7rem;
}

.list:first-child span {
  font-weight: 500;
  color: var(--color-text);
  background-color: var(--color-accent-light);
}
.list:first-child .secondtitle {
  border-radius: 0;
}
.title {
  flex: 1;
  padding: 0.1rem 0 0.1rem 0.7rem;
  background-color: var(--color-accent);
  color: var(--color-white);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.secondtitle {
  flex: 1;
  padding: 0.2rem 0 0.1rem 1.5rem;
  background-color: var(--color-bg-dark);
  color: var(--color-black);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.subtitle {
  flex: 1;
  padding: 0.2rem 0 0.1rem 1.5rem;
  background-color: var(--color-grey);
  color: var(--color-black);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.alert {
  margin-top: 5px;
  color: var(--color-accent-light);
  background-color: var(--color-text);
  padding: 10px;
  border: 1px solid var(--color-grey);
}
/* flex = grow, shrink, basis */
@media screen and (max-width: 410px) {
  .listdiv {
    display: flex;
    flex-wrap: wrap;
  }
  .title {
    flex: 5 0 7.5rem;
  }
  .secondtitle {
    flex: 1 0 5rem;
  }
  .subtitle {
    flex: 1 0 5rem;
  }
  .list:first-child {
    display: none;
  }
}
