.container {
  display: flex;
  min-height: 10%;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  background-color: var(--color-bg-dark);
  border-bottom: 1px solid var(--color-grey);
}

.lists {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.button {
  font-size: 1.4rem;
  margin: 0.3rem;
  background-color: transparent;
  color: var(--color-accent);
  opacity: 0.8;
  font-weight: bold;
  cursor: pointer;
}
.button:hover {
  opacity: 1;
}
.button.selected {
  opacity: 1;
}
.button.selected::after {
  content: "";
  display: block;
  margin-top: 0.2rem;
  border-bottom: 1px solid var(--color-text);
}
.fontDown {
  font-size: 1rem;
}
.name {
  width: 3rem;
  background-color: transparent;
  font-size: 0.8rem;
}
.logout {
  font-size: 1.4rem;
  margin: 0.3rem;
  background-color: transparent;
  color: var(--color-text);
  opacity: 0.8;
  font-weight: bold;
  cursor: pointer;
}
.logout:hover {
  opacity: 1;
  transform: scale(110%);
}
.logout:hover::after {
  content: "로그아웃";
  display: block;
  font-size: 0.6rem;
}
