.container {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin-top: 1.5rem;
}
.signup {
  display: inline;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-accent);
  background-color: transparent;
}
.signup:hover {
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}
